@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

@theme {
  --color-custom: #ccff00;
}

@utility text-custom {
  color: #ccff00;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-oswald: var(--font-oswald);
  --font-inter: var(--font-inter-custom);
}